<h1>Editing commission log</h1>

<%= render "form", commission_log: @commission_log %>

<br>

<div>
  <%= link_to "Show this commission log", @commission_log %> |
  <%= link_to "Back to commission logs", commission_logs_path %>
</div>
